.btn {
  display: block;
  margin: 0 auto;
  background-color: var(--black);
  color: var(--white);
  opacity: .2;
  font-size: 3rem;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  opacity: .97;

  font-size: 1.2rem;
}

/* Modal Content */
.modal-content {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  margin: auto;
  padding: 2rem;
  width: 80%;
  border: 1px solid var(--gray);

}

a {
  color: var(--white);
}